{% extends parent_template|default:"blog/base_blog.html" %}

{% block title %}
    {{ block.super }} - Delete Post
{% endblock %}

{% block content %}
    <div>
        <div>
            <form action="{{ post.get_delete_url }}" method="post">
            {% csrf_token %}
                <p>Are you sure that you want to delete post {{ post.title }}?</p>
                <a href="{{ post.get_absolute_url }}">Cancel</a>
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}