{% extends parent_template|default:"blog/base_blog.html" %}

{% block title %}
    {{ block.super }}- Update Blog Post
{% endblock %}

{% block content %}
    <div>
        <div>
        <form action="{{ post.get_update_url }}" method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Post Form Update</button>
        </form>
        </div>
    </div>
{% endblock %}