{% extends parent_template|default:"blog/base_blog.html" %}
{% block title %}
    {{ block.super }} - {{ post.title|title }}
{% endblock %}

{% block content %}
<article>
    <header>
        <h2>
           {{ post.title|title }}
        </h2>
        <p>Written on <time datetime="{{ post.pub_date|date:"Y-m_d" }}">
            {{ post.pub_date|date:"l, F j, Y" }}
        </time></p>
    </header>

    {{ post.text|linebreaks }}

    {% if post.startups.all or post.tags.all %}
        <footer>
        {% if post.startups.all %}
            <section>
                <h3>Startup{{ post.startups.count|pluralize }}</h3>
                <ul>
                    {% for startup in post.startups.all %}
                        <li>
                            <a href="{{ startup.get_absolute_url }}">
                                {{ startup.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
        {% if post.tags.all %}
            <section>
                <h3>Tag{{ post.tags.count|pluralize }}</h3>
                <ul>
                    {% for tag in post.tags.all %}
                        <li>
                            <a href="{{ tag.get_absolute_url }}">
                                {{ tag.name|title }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
        </footer>
    {% endif %}
</article>
{% endblock %}