<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <title>
        {% block title %}Startup Organizer{% endblock %}
    </title>

</head>
<body>
    <!--container-->
<div>
    <header>
        <h1>Startup Organizer</h1>
    </header>
    <main>
        {% block content %}
        This is default content!
        {% endblock %}
    </main>
</div>
    <!--container-->
<nav>
    <ul>
        <li>
            <a href="{% url 'blog_post_list' %}">
                Blog
            </a>
        </li>
        <li>
            <a href="{% url 'organizer_startup_list' %}">
                Startup
            </a>
        </li>
        <li>
            <a href="{% url 'organizer_tag_list' %}">
                Tags
            </a>
        </li>
    </ul>
</nav>

<footer>
    <p>
        &copy;2017
        <a href="https://AndrewsForge.com/">
            Andrew Pinkham
        </a>
    </p>
    <p>
        Created for
        <a href="https://Django-Unleashed.com/">
            Django Unleashed
        </a>
    </p>
</footer>
</body>
</html>