{% extends parent_template|default:"organizer/base_organizer.html" %}
{% block title %}{{ block.super }} - Startup List{% endblock %}

{% block content %}
<h2>Startup List</h2>
<ul>
    {% for startup in startup_list %}
        <li>
            <a href="{{ startup.get_absolute_url }}">
                {{ startup.name }}
            </a>
        </li>
    {% empty %}
        <li><em>No Startup Available.</em></li>
    {% endfor %}
</ul>
{% endblock %}