{% extends parent_template|default:"organizer/base_organizer.html" %}
{% block title %}
    Startup Detail
{% endblock %}

{% block content %}
<article>

    <h2>
        {{ startup.name }}
    </h2>
    <dl>
        <dt>Date Founded</dt>
        <dd>{{ startup.founded_date|date:"F jS, Y" }}</dd>
        <dt>Website</dt>
        <dd>{{ startup.website|urlize }}</dd>
        <dt>Contact</dt>
        <dd>{{ startup.contact }}</dd>

        <dt>Tag{{ startup.tags.count|pluralize }}</dt>
        {% for tag in startup.tags.all %}
            <dd>
            <a href="{{ tag.get_absolute_url }}">
                {{ tag.name|title }}
            </a>
            </dd>
        {% endfor %}
    </dl>

    {{ startup.description|linebreaks }}

    {% if startup.newslink_set.all %}
        <section>
            <h3>Recent News</h3>
            <ul>
                {% for newslink in startup.newslink_set.all %}
                    <li>
                    <a href="{{ newslink.link }}">
                        {{ newslink.title|title }}
                    </a>
                    </li>
                {% endfor %}
            </ul>
        </section>
    {% endif %}

    {% if startup.blog_posts.all %}
        <section>
            <h3>Blog Post{{ startup.blog_posts.count|pluralize }}</h3>
            <ul>
            {% for post in startup.blog_posts.all %}
                <li>
                    <a href="{{ post.get_absolute_url }}">
                        {{ post.title|title }}
                    </a>
                </li>
            {% endfor %}
            </ul>
        </section>
    {% endif %}

</article>
{% endblock %}