{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
    {{ block.super }} - Delete Tag
{% endblock %}

{% block content %}
    <div>
        <div>
            <form action="{{ tag.get_delete_url }}" method="post">
            {% csrf_token %}
                <p>Are you sure that you want to delete tag {{ tag.name }}?</p>
                <a href="{{ tag.get_absolute_url }}">Cancel</a>
                <button type="submit">Delete</button>
            </form>
        </div>
    </div>
{% endblock %}