{% extends parent_template|default:"organizer/base_organizer.html" %}

{% block title %}
{{ block.super }} - Tag List
{% endblock %}

{% block content %}
<h2>Tag List</h2>
<ul>
    {% for tag in tag_list %}
    <li>
        <a href="{{ tag.get_absolute_url }}">
            {{ tag.name|title }}
        </a>
    </li>
    {% empty %}
    <li><em>There are currently no tags available</em></li>
    {% endfor %}
</ul>
{% endblock %}